<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-title>Máximus Burguer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>001 - Ricardo </ion-card-title>
          </ion-col>
          <ion-col text-right>
            <ion-icon name="cash" style="font-size: 20pt" color="danger"></ion-icon>
            <ion-badge>5m</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <p>1 Sanduíche / Hamburguer / Molho de ervas / Pão brioche / Sem cebola - R$ 15,00</p>
      <p>1 Sanduíche / Hamburguer / Molho de ervas / Pão brioche / Sem cebola - R$ 15,00</p>
      <p>1 Sanduíche / Hamburguer / Molho de ervas / Pão brioche / Sem cebola - R$ 15,00</p>
      <h2 text-right>Total: R$ 45,00</h2>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
