<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-title>Máximus Burguer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor='let pedido of pedidos'>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>{{pedido.numero}} {{pedido.cliente.nome}}</ion-card-title>
          </ion-col>
          <ion-col text-right size="2">
            <ion-icon name="cash" color="{{pedido.pago ? 'secondary' : 'danger'}}" style="font-size: 20pt;margin-top:-5px"></ion-icon>
          </ion-col>
          <ion-col text-right size="2">
            <ion-badge>{{pedido.tempoGastoEmMinutos}} m</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-row *ngFor="let pp of pedido.produtos">
        <ion-col>{{pp.quantidade}} {{pp.produto.nome}}
          <ion-row *ngFor="let ip of pp.ingredientes">
            <ion-col size="2"></ion-col>
            <ion-col>{{ip.ingrediente.nome}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col>{{pp.tipoPonto}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col text-right size="4">{{pp.produto.preco | currency:'BRL'}}</ion-col>
      </ion-row>
      
      <p></p>
      <ion-row>
          <ion-col>{{pedido.tipoConsumo}}</ion-col>
          <ion-col><h2 text-right>Total: {{pedido.valorTotal | currency:'BRL'}}</h2></ion-col>
      </ion-row>     
      
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
